body 
    {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #e0e0e0bf; /*un peu gris pour faire ressortir le blanc du canevas*/
        display: flex;               
        flex-direction: column;      
        align-items: center;         
        margin: 0;                   
        padding: 20px;               
    }

    .conteneur-principal 
    {
        display: flex;
        flex-direction: column; 
        align-items: center;    
        gap: 10px;                  
    }

#canevasVoronoi 
    {
        background-color: white;
        border: 2px solid #333;
        margin-top: 20px;
        cursor: crosshair; /* Change le curseur pour faire plus "outil de dessin" */
    }

#zone-controles 
    {
        margin: 20px;
        padding: 10px;  
        background: #fff;
        display: inline-block;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
#etatCalcul 
    {
        font-weight: bold;           
        margin: 10px 0; /* pour ajouter de l'espace en haut et en bas */
        color: #333;                 
    }

